# Ignore large 3D model files (removed because we are compressing them)
# But explicitly ignore the raw, uncompressed files in the root folder:
/oracle_red_bull_f1_car_rb19_2023.glb
/scuderia_ferrari_f1_sf23_2023.glb
/scuderia_ferrari_f1_sf23_2023/
# Ignore env files
.env
.env.local
# Python & Backend
**/__pycache__/
*.py[cod]
*$py.class
backend/data/fastf1_cache/
backend/data/
data/
venv*/
backend/venv*/
*.joblib
.pytest_cache/
